<app-header></app-header>
<div class="container">

<div class="card mb-2 mt-1 mr-5" style="width: 18rem; ">
  <img src="img/prod-1.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title ">Produto #1</h1>
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sequi optio, neque provident doloribus quis pariatur quae, natus, placeat labore laboriosam sit corporis explicabo mollitia illo repudiandae ut. Explicabo, eligendi!.</p>
    <a href="#" class="btn btn-primary rosa">Compre agora</a>
  </div>
</div>

<div class="card mb-2 mt-1" style="width: 18rem; ">
  <img src="img/prod-1.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title ">Produto #1</h1>
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sequi optio, neque provident doloribus quis pariatur quae, natus, placeat labore laboriosam sit corporis explicabo mollitia illo repudiandae ut. Explicabo, eligendi!.</p>
    <a href="#" class="btn btn-primary rosa">Compre agora</a>
  </div>
</div>


<div class="card mb-2 mt-1" style="width: 18rem; ">
  <img src="img/prod-2.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title ">Produto #1</h1>
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sequi optio, neque provident doloribus quis pariatur quae, natus, placeat labore laboriosam sit corporis explicabo mollitia illo repudiandae ut. Explicabo, eligendi!.</p>
    <a href="#" class="btn btn-primary rosa">Compre agora</a>
  </div>
</div>

<div class="card mb-2 mt-1" style="width: 18rem; ">
  <img src="img/prod-2.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title ">Produto #1</h1>
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sequi optio, neque provident doloribus quis pariatur quae, natus, placeat labore laboriosam sit corporis explicabo mollitia illo repudiandae ut. Explicabo, eligendi!.</p>
    <a href="#" class="btn btn-primary rosa">Compre agora</a>
  </div>
</div>




</div>
